@model List<ecommerce.Models.Order> ;
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" py-2">Refund</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        @*  @if (Model.Customer_PhoneNumber == 0)
        { *@

        <div class="card-body p-4">
            <form method="post" class=" row" asp-action="searchByOrderNum">
                <input class="form-floating py-2 col-4  border-0 shadow" type="search" name="num" placeholder="Search by Invoice number" aria-label="Search">
                <div>
                    <input type="radio"  name="searchmethod" value="phone" />
                    <label>Phone number</label>
                </div>
               <div>
                    <input type="radio" name="searchmethod" value="order" />
                    <label>Invoice number</label>
               </div>
               
                <button class=" form-floating py-2 col-2 btn btn-outline-primary border   border-0 shadow" type="submit">Search</button>
            </form>
           @if (Model.Count !=0)
            {
                 <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Order Id
                        </th>
                        <th>
                            Customer Name
                        </th>
                            <th>
                                PhoneNumber
                            </th>
                        <th>
                            Staus
                        </th>
                     
                       

                        <th>
                            Payment Method
                        <th>
                            Order Total
                        </th>
                        <th>
                            Order Details
                        </th>

                           
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
                            
                        
                    @foreach (var obj in Model)
                    {
                            @if (obj.Customer != null || obj.OrderDetails != null)
                            {
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj.Customer.Customer_Name</td>
                            <td>@obj.Customer.Customer_PhoneNumber</td>
                            <td>@obj.Order_Status</td>
                           
                            
                            <td>@obj.PaymentMethod</td>
                            <td>@obj.Total</td>
                            <td>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Return Qty
                                            </th>
                                            <th>
                                                Unit Price
                                            </th>
                                            <th>
                                                Total Price
                                            </th>


                                                  
                                           <th></th>
                                                  
                                                   
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var detail in obj.OrderDetails)
                                        {
                                                    <form method="post" asp-action="RefundSomeOrderProducts">
                                                        <input hidden asp-for="@obj.Id" name="orderId">
                                                        <input hidden asp-for="@detail.Id" name="orderdetailid">
                                            
                                            <tr>
                                                <td>@detail.Product.Name</td>
                                                           
                                               <td>
                                                                @if (detail.Ordered_qty == 1)
                                                                {
                                                                    @detail.Ordered_qty;
                                                                }
                                                                else
                                                                {
                                                                <input type="number" max="@detail.Ordered_qty" min="1" asp-for="@detail.Ordered_qty" name="qty">
                                                                }
                                                               
                                                   </td>
                                                        <td>@detail.Product.Price</td>
                                                        <td>@detail.order_total_price</td>
                                                


                                                <td>
                                                   @if(obj.Order_Status != SD.Order_Returned ){
                                                       if (obj.OrderDetails.Count > 1 || detail.Ordered_qty >1)
                                                                    {
                                                                    <div class="w-75 btn-group" role="group">
                                                                        <button type="submit" class="btn btn-primary mx-2">
                                                                            <i class="bi bi-pencil-square"></i>&nbsp; Save Changes
                                                                        </button>
                                                                        <a asp-controller="Home" asp-action="RefundOrderDetail" asp-route-orderId="@obj.Id" asp-route-orderdetailid="@detail.Id" class="btn btn-danger mx-2">
                                                                            <i class="bi bi-trash-fill"></i> &nbsp; Delete
                                                                        </a>
                                                                    </div>
                                                                    }else{
                                                                        <i class="bi bi-lock"></i>
                                                                    }


                                                                }
                                                                else
                                                                {
                                                                <i class="bi bi-lock"></i>
                                                                }

                                                                                                                    </td>
                                            </tr>
                                          </form>
                                        }
                                    </tbody>
                                </table>
                            </td>

                            <td>
                                <div class="w-75 btn-group" role="group">
                                    @if (obj.Order_Status == SD.Order_Confirmed)
                                            {
                                                <a asp-controller="Home" asp-action="RefundEntireOrder" asp-route-orderId="@obj.Id" class="btn btn-danger mx-2">
                                                    <i class="bi bi-arrow-90deg-up"></i>&nbsp; "Mark As Returned"
                                                </a>
                                            }else{
                                                <a asp-controller="Home" asp-action="RefundEntireOrder" asp-route-orderId="@obj.Id" class="btn btn-primary mx-2">
                                                    <i class="bi bi-arrow-counterclockwise"></i>&nbsp; Un Mark As Returned
                                                </a>
                                            }


                                </div>
                            </td>
                        </tr>
                    }}
                </tbody>
            </table>
           
       
            }

        @*   }
        else
        { *@
      @*   <form method="post" class="row">
            <div>
                @*<div asp-validation-summary="ModelOnly"></div>*@
                @* <div class="form-floating py-2 col-12">
                    <input asp-for="Customer_Name" class="form-control border-0 shadow" />
                    <label asp-for="Customer_Name" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Customer_PhoneNumber" class="form-control border-0 shadow" />
                    <label asp-for="Customer_PhoneNumber" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Customer_Address" class="form-control border-0 shadow" />
                    <label asp-for="Customer_Address" class="ms-2"></label>

                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Add</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to Home
                        </a>
                    </div>
                </div>


            </div>
        </form> *@ 
        @*  } *@

    </div>
</div>